from conan import ConanFile


class Conan(ConanFile):
    virtualbuildenv = {% if "VirtualBuildEnv" in generators %}True{% else %}False{% endif %}
    virtualrunenv = {% if "VirtualRunEnv" in generators %}True{% else %}False{% endif %}
    generators = [{% for generator in generators %}{% if generator not in ["VirtualBuildEnv", "VirtualRunEnv"] %}"{{generator}}"{% if not loop.last %}, {% endif %}{% endif %}{% endfor %}]
    settings = "os", "arch", "compiler", "build_type"

    def requirements(self):
        {% for package, version in lockfile.items() %}
        self.requires("{{package}}/{{version}}")
        {% endfor %}
