-e ./PPpackage-utils/

-e ./PPpackage-repository-driver/

-e ./PPpackage-submanager/

-e ./PPpackage-pacman-utils/

-e ./PPpackage-conan/
-e ./PPpackage-pacman/
-e ./PPpackage-PP/
-e ./PPpackage-AUR/

-e ./PPpackage/

pre-commit
hypercorn
