-e ./utils/
-e ./container-utils/



-e ./repository-driver/interface/

-e ./repository-driver/server/

-e ./repository-driver/update/

-e ./repository-driver/conan/
-e ./repository-driver/pacman/
-e ./repository-driver/PP/
-e ./repository-driver/AUR/



-e ./installer/interface/

-e ./installer/simple/
-e ./installer/pacman/



-e ./translator/interface/

-e ./translator/pacman/
-e ./translator/conan/
-e ./translator/PP/


-e ./metamanager/

pre-commit
hypercorn
