pre-commit

-e ./src/utils/json --config-settings editable_mode=compat
-e ./src/utils/async --config-settings editable_mode=compat
-e ./src/utils/cli --config-settings editable_mode=compat
-e ./src/utils/container --config-settings editable_mode=compat
-e ./src/utils/file --config-settings editable_mode=compat
-e ./src/utils/lock --config-settings editable_mode=compat
-e ./src/utils/python --config-settings editable_mode=compat
-e ./src/utils/serialization --config-settings editable_mode=compat



-e ./src/repository-driver/interface/ --config-settings editable_mode=compat

-e ./src/repository-driver/update/

-e ./src/repository-driver/conan/
-e ./src/repository-driver/pacman/
-e ./src/repository-driver/AUR/



-e ./src/installer/interface/ --config-settings editable_mode=compat

-e ./src/installer/pacman/
-e ./src/installer/conan/



-e ./src/translator/interface/ --config-settings editable_mode=compat

-e ./src/translator/pacman/
-e ./src/translator/conan/



-e ./src/generator/interface/ --config-settings editable_mode=compat

-e ./src/generator/conan/



-e ./src/metamanager/
