from conan import ConanFile


class Conan(ConanFile):
    name = "requirement-{{index}}"
    user = "pppackage"
    version = "1.0.0"

    def requirements(self):
        {% for leaf_index in leaf_indices %}
        self.requires("leaf-{{index}}-{{leaf_index}}/1.0.0@pppackage")
        {% endfor %}
