from conan import ConanFile


class Conan(ConanFile):
    virtualbuildenv = False
    virtualrunenv = False
    generators = []
    settings = "os", "arch", "compiler", "build_type"

    def requirements(self):
        {% for requirement_index in requirement_indices %}
        self.requires("requirement-{{requirement_index}}/1.0.0@pppackage")
        {% endfor %}
